{% extends "base.html" %}

{% block navLink %}
  <li><a class="nav-link scrollto" href="/">Home</a></li>
  <li><a class="nav-link scrollto active" href="/spamdetector">Spam Detector</a></li>
  <li><a class="nav-link scrollto" href="/phishingdetector">Phishing Detector</a></li>
  <li><a class="nav-link scrollto" href="/urlscanner">URL Scanner</a></li>
  <li><a class="nav-link scrollto" href="/tracecall">Trace Call</a></li>
{% endblock %}

{% block heroContent %}

<div class="container position-relative vh-100" data-aos="fade-up" data-aos-delay="100">
  <div class="row justify-content-center">
    <div class="col-xl-7 col-lg-9">
      <h1 style="margin-bottom: 30px; text-align: center;">Detect Spam</h1>
      <form>
        <div class="form-group">
          <label for="message" style="margin-bottom: 5px;"><b>Enter Message</b></label>
          <textarea class="form-control" id="message"  rows="6" cols="50" placeholder="Message"></textarea>
        </div>

        <div class="text-center">
          <a type="submit" class="btn-get-started">Check Spam</a>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block mainContent %}
{% endblock %}