{% extends "base.html" %}

{% block navLink %}
  <li><a class="nav-link scrollto" href="/">Home</a></li>
  <li><a class="nav-link scrollto" href="/spamdetector">Spam Detector</a></li>
  <li><a class="nav-link scrollto" href="/phishingdetector">Phishing Detector</a></li>
  <li><a class="nav-link scrollto active" href="/urlscanner">URL Scanner</a></li>
  <li><a class="nav-link scrollto" href="/tracecall">Trace Call</a></li>
{% endblock %}

{% block heroContent %}
{% endblock %}

{% block mainContent %}
{% endblock %}